#landing {
    background: url('../images/bg.jpg') no-repeat #0e2439 fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .bg-opacity {
        background: rgba(15, 41, 61, 0.6);
        #slogan {
            margin-top: 20px;
            p {
                font-family: 'Proximanova';
                font-size: 50px;
                color: $white;
                font-weight: bold;
            }
        }
    }
}

#intro-block {
    padding-top: 40px;
    padding-bottom: 20px;
    .vmms-intro-widget {
        background-color: rgba(255, 255, 255, 0.15);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 3px;
        color: $white;
        text-align: center;
        font-family: 'Proximanova';
        .widget-intro-icon {
            span {
                padding: 10px;
                border: 4px solid #fff;
                border-radius: 100%;
                font-size: 25px;
            }
        }
        .widget-intro-title {
            p {
                font-size: 20px;
                margin-top: 10px;
                font-weight: bold;
            }
        }
        .widget-intro-content {
            p {
                font-size: 15px;
            }
        }
    }
}

#tech-logo {
    background: #fff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #0D6182;
    box-shadow: 0 5px 34px rgba(0, 0, 0, 0.3);
    .container {
        a {
            img {
                height: 40px;
                margin-left: 5px;
                margin-right: 5px;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
            }
            img:hover {
                filter: none;
                -webkit-filter: none;
                -moz-filter: none;
                -o-filter: none;
                -ms-filter: none;
            }
        }
    }
}

#portfolio-list {
    margin-top: 40px;
    .list {
        @extend %port;
    }
    .glyphicon-chevron-left {
        left: -40px;
    }
    .glyphicon-chevron-right {
        right: -40px;
    }
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        display: inline-block;
        position: absolute;
        margin-top: 140px;
        font-size: 30px;
        color: #fff;
        text-shadow: 0 0 5px #000;
    }
}

#nf-portfolio-slider {
    overflow: hidden;
    .half {
        margin-top: 30px;
        width: 50%;
        float: left;
        .nf-image {
            padding-left: 20px;
            .relative {
                width: 100%;
                max-width: 600px;
                float: right;
                position: relative;
                overflow: auto;
                .frame {
                    position: relative;
                    z-index: 2;
                    max-width: 100%;
                }
                #image-slider {
                    z-index: 1;
                    position: absolute;
                    left: 13.5%;
                    top: 8.5%;
                    width: 73%;
                    height: 77%;
                    .slide {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        #nf-text {
            list-style: none;
            li {
                margin-bottom: 5px;
                div {
                    padding: 10px 15px;
                    color: #fff;
                    font-weight: bold;
                    background-color: rgba(255, 255, 255, 0.15);
                    border-radius: 4px;
                    max-width: 550px;
                    span {
                        color: #fff;
                    }
                    span:first-child {
                        padding: 0px 30px!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 34px!important;
        #nf-portfolio-slider {
            overflow: hidden;
            .half {
                .nf-image {
                    padding: 0px 30px!important;
                    .relative {}
                }
                width: 100%;
                #nf-text {
                    padding: 0px 30px!important;
                }
            }
        }
        #portfolio-list {
            .glyphicon {
                display: none!important;
            }
        }
    }
}

#feedback {
    margin-bottom: 20px;
    margin-top: 40px;
    .comment {
        margin-top: 20px;
        margin-bottom: 40px;
        overflow: auto;
        .avatar {
            img {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                box-shadow: 0 0 5px #000;
                border: 3px solid #fff;
            }
        }
        .name {
            p {
                font-size: 18px;
                font-family: 'Proximanova';
                text-transform: uppercase;
                margin-top: 20px;
                color: #ff6568;
            }
        }
        .comment-content {
            padding-top: 10px;
            p {
                font-size: 18px;
                text-transform: none;
                color: #333;
                background: #fff;
                box-shadow: 0 0 5px #DFD1D1;
                padding: 40px 20px;
                border-radius: 10px;
                position: relative;
            }
            p:after {
                display: block;
                content: '';
                border-top: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                top: -30px;
                left: calc(50% - 15px);
            }
        }
    }
}
