#portfolio {
    @extend %port;
    margin-top: 20px;
    margin-bottom: 20px;    
    .title {
        text-align: center;
        h1 {
            font-weight: bold;            
            font-size: $font-size-xlarge;
            text-transform: uppercase;
        }
        /*color: $blue; */
        /*@extend %extend-title1::after;*/
    }
}

#blog {
    margin-top: 20px;
    margin-bottom: 20px;
     h1{
        @extend %title-h1;
    }
    .title {
        h1 {
            font-weight: bold;            
            font-size: $font-size-xlarge;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .blog {
        @extend %bg-white;
        overflow: auto;
        .blog-image {
            padding: 10px 0;
            img {
                width: 90%;
                height: auto!important;
            }
        }
        .blog-title {
            a {
                @extend %extend-title;
                text-decoration: none;
                h2 {                    
                    font-size: $font-size-large;
                    font-weight: bold;
                    color: $black;
                }
                h2:hover {
                    color: $blue;
                }
            }
            .blog-info {
                /*@extend %extend-title;*/
                ul {
                    li {
                        span {
                            color: $silver;
                        }
                    }
                }
            }
        }
        .blog-info {
                font-size: 12px;
                margin: 10px 0px 5px;
            ul {
                list-style: none;
                padding-left: 0px;
                display: inline-block;
                li {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
    .background-white {
        @extend %bg-white;              
        .widget-title {
            @extend %extend-title;          
        }
        .rpwe-title a{
            color: #333;
        } 
    }
}

#single-blog {
    padding: 50px 0;
    .single-blog {
        @extend %bg-white;
        .single-blog-title {
            h1 {
                @extend %extend-title;
                margin: 0px;
                font-size: $font-size-xlarge;
                font-weight: bold;
                color: $blue;
            }
        }
        .single-blog-content {
                margin-top: 20px;
            figure,
            p {
                img {
                    max-width: 100%;
                }
            }
        }
        h2,
        h3 {
            font-size: $font-size-large;
        }
        p {
            font-size: $font-size-normal;
        }
    }
    .background-white {
        @extend %bg-white;
        .widget-title {
            color: $blue;
            @extend %extend-title;
        }
    }
}
#contact-page{
    margin-top: 20px;
    margin-bottom: 20px;
     h1{
        @extend %title-h1;
    }
    .contact-page{
        margin: 10px 0px 20px 0px;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 3px;
    }
    .company_address{
        h2{
            font-size: 1.5em;
        }
    }
    form{
        p{
            margin-top: 0px;
            font-family: Open Sans;
            font-weight: bold;
            font-size: 14px;    
            color: #6a6a6a;
        }
        .p-contact{
            font-family: dancing script;
            font-size: 36px;
            color: #64582c;
            line-height: 58px;
        }
        input[type="text"],input[type="email"],select{
            width: 100%;
            padding: 10px;
        }
        textarea{width: 100%;}
        input[type="submit"]{
            width: 25%;
            padding: 10px;
            background-color: #154557;
            color: #fff;
            text-transform: uppercase;
        }
        input[type="submit"]:hover{
            background-color:#073648 ;
            text-decoration: underline;
        }
        .form-group{           
            textarea{
                min-height: 120px;
            }

        }
    }
}
#about{
    padding: 20px 0;
    h1{
        @extend %title-h1;
    }
    .about{
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 3px;
        margin: 10px 0px 20px 0px;
    }
    .background-white {
        @extend %bg-white;
        .widget-title {
            color: $blue;
            @extend %extend-title;
        }
    }    
}
