    @keyframes extend_title_animation {
        from {
            width: 0px;
        }
        to {
            width: 300px;
        }
    }
    
    #single-portfolio {
        font-family: 'Proximanova';
        margin-top: 40px;
        div {
            .background-white {
                @extend %bg-white ;
                .page-title {
                    margin-top: 10px;
                    @extend %extend-title;
                }
                .content{
                    p{
                        img{
                            max-width: 100%;
                        }
                    }
                }
                .recent-posts-extended {
                    .widget-title {
                        margin-top: 10px;
                        @extend %extend-title;
                    }
                    #recent-work {
                        .rpwe-ul {
                            .rpwe-li {
                                .rpwe-title {
                                    a {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    
    #portfolio {
        
        .recent-posts-extended {
            .widget-title {
                padding: 15px 0;
            }
            #recent-work {
                ul {
                    li {
                        .rpwe-title {
                            a {
                                font-size: 14px;
                            }
                        }
                        time {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
