    $background-color: #073648;
    $white: #fff;
    $black: #333;
    $blue:#23527c;
    $silver:#bdc3c7;
    $belide-hold: #2980b9;
    $font-size-xlarge: 22px;
    $font-size-large: 18px;
    $font-size-normal: 14px;
    $font-size-small: 12px;
    @font-face {
        font-family: 'Jaapokki';
        src: url('../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.eot');
        src: url('../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.woff') format('woff'), url('../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.ttf') format('truetype'), url('../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.svg') format('svg');
    }
    
    @font-face {
        font-family: 'Proximanova';
        src: url('../fonts/VNF-ProximaNovaCond-Regular.ttf');
    }
    
    .transition {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transiton: all 0.5s;
        -o-transition: all 0.5s;
    }
    
    html {
        body {
            background-color: #e9eaec;
            padding-top: 60px;
            overflow-y: scroll;
            .navbar-default {
                background-image: none;
                background-color: $background-color;
                box-shadow: none;
                border-bottom: none;
                height: 80px;
                .navbar-brand {
                    font-family: 'Jaapokki';
                    color: $white;
                    font-size: 28px;
                    padding-top: 35px;
                }
                .navbar-brand:hover {
                    color: $white;
                }
                .navbar-nav {
                    li {
                        a {
                            font-family: 'Proximanova';
                            font-size: 16px;
                            color: $white;
                            line-height: 80px;
                            padding: 0px 18px;
                            text-transform: uppercase;
                            @extend .transition;
                        }
                        a:hover {
                            color: $black;
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                    }
                }
            }
        }
    }
    
    .fit-height {
        overflow: hidden;
    }
    
    .group {
        font-family: 'Proximanova';
        color: #333;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 30px;
        .title {
            margin-bottom: 20px;
            color: #333;
            font-weight: bold;
        }
        .title::after {
            display: block;
            content: ' ';
            width: 100%;
            max-width: 380px;
            border-top: 2px solid #e8ce4d;
            margin: 8px auto;
            -webkit-animation: myfirst 5s linear;
            animation: myfirst 3s linear;
        }
    }
    
    @keyframes myfirst {
        from {
            width: 0px;
        }
        to {
            width: 100%;
        }
    }
    
    footer {
        background: #2D3E4F;
        color: #fff;
        font-family: 'Proximanova';
        padding: 10px 0px 40px;
        ul {
            padding-left: 10px;
            li {
                a {
                    text-decoration: none!important;
                    color: #fff;
                    @extend .transition;
                }
                a:hover {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
        .widget-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            border-bottom: 1px solid #fff;
        }
        .wpcf7-form {
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                border-radius: 3px;
                border: none;
            }
            input[type="text"],
            input[type="email"] {
                height: 35px;
                color: #333;
                padding: 10px;
            }
            textarea {
                resize: vertical;
                height: 100px!important;
                color: #333;
                padding: 10px;
            }
            input[type="submit"] {
                height: 35px;
                background-color: #2cc36b;
                border: none;
                border-radius: 3px;
                padding: 0px 15px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    
    %extend-title {
        font-size: 20px;
        font-weight: bold;
        color: #333;        
    }

    %extend-title::after {
        display: block;
        content: ' ';
        width: 300px;
        max-width: 100%;
        border-top: 2px solid #e8ce4d;
        margin-top: 8px;
        -webkit-animation: extend_title_animation 1s ease;
        animation: extend_title_animation 1s ease;
    }
        
    %bg-white {
        margin: 10px 0px 20px 0px;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 3px;
    }
    
    %port {
        .portfolio {
            padding: 10px;
            .image {
                a {
                    text-decoration: none;
                    img {
                        width: 100%;
                        border: 5px solid #fff;
                        box-shadow: 0 0 5px #000;
                        height: auto!important;
                    }
                }
            }
            .p_row {
                margin-top: 10px;
                .date {
                    padding: 5px;
                    border: 1px solid #ddd;
                    float: left;
                    span {
                        display: block;
                        padding: 0px 5px;
                        font-size: 16px;
                    }
                }
                .post-title {
                    overflow: hidden;
                    text-align: left;
                    a {
                        text-decoration: none;
                        p {
                            padding-left: 10px;
                            font-family: 'Proximanova';
                        }
                        p:first-child {
                            color: #333;
                            font-size: 16px;
                        }
                        .author {
                            font-size: 12px;
                            font-weight: normal;
                            color: #8899a6;
                            border-top: 1px solid #8899a6;
                            text-transform: none;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

 %title-h1{    
     font-weight: bold;            
     font-size: $font-size-xlarge;
     text-transform: uppercase;   
 }
