html body.customize-support div#blog.page-demo.container.z-container div.col-sm-12.list-view div.menu_category.text-center ul#menu-category-menu.menu .menu-item.menu-item-type-taxonomy.menu-item-object-category.current-menu-item a{
  color: blue!important;
  
}
html body.customize-support div#blog.page-demo.container.z-container div.col-sm-12.list-view div.menu_category.text-center ul#menu-category-menu.menu .menu-item.menu-item-type-taxonomy.menu-item-object-category.current-menu-item{
  background: white!important;
  border: 2px solid #ddd;
}