@font-face {
  font-family: 'Jaapokki';
  src: url("../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.eot");
  src: url("../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.woff") format("woff"), url("../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.ttf") format("truetype"), url("../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.svg") format("svg"); }
@font-face {
  font-family: 'Proximanova';
  src: url("../fonts/VNF-ProximaNovaCond-Regular.ttf"); }
.transition, html body .navbar-default .navbar-nav li a, footer ul li a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transiton: all 0.5s;
  -o-transition: all 0.5s; }

html body {
  background-color: #e9eaec;
  padding-top: 60px;
  overflow-y: scroll; }
  html body .navbar-default {
    background-image: none;
    background-color: #073648;
    box-shadow: none;
    border-bottom: none;
    height: 80px; }
    html body .navbar-default .navbar-brand {
      font-family: 'Jaapokki';
      color: #fff;
      font-size: 28px;
      padding-top: 35px; }
    html body .navbar-default .navbar-brand:hover {
      color: #fff; }
    html body .navbar-default .navbar-nav li a {
      font-family: 'Proximanova';
      font-size: 16px;
      color: #fff;
      line-height: 80px;
      padding: 0px 18px;
      text-transform: uppercase; }
    html body .navbar-default .navbar-nav li a:hover {
      color: #333;
      background-color: rgba(255, 255, 255, 0.9); }

.fit-height {
  overflow: hidden; }

.group {
  font-family: 'Proximanova';
  color: #333;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 30px; }
  .group .title {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold; }
  .group .title::after {
    display: block;
    content: ' ';
    width: 100%;
    max-width: 380px;
    border-top: 2px solid #e8ce4d;
    margin: 8px auto;
    -webkit-animation: myfirst 5s linear;
    animation: myfirst 3s linear; }

@keyframes myfirst {
  from {
    width: 0px; }
  to {
    width: 100%; } }
footer {
  background: #2D3E4F;
  color: #fff;
  font-family: 'Proximanova';
  padding: 10px 0px 40px; }
  footer ul {
    padding-left: 10px; }
    footer ul li a {
      text-decoration: none !important;
      color: #fff; }
    footer ul li a:hover {
      color: rgba(255, 255, 255, 0.6); }
  footer .widget-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #fff; }
  footer .wpcf7-form input[type="text"],
  footer .wpcf7-form input[type="email"],
  footer .wpcf7-form textarea {
    width: 100%;
    border-radius: 3px;
    border: none; }
  footer .wpcf7-form input[type="text"],
  footer .wpcf7-form input[type="email"] {
    height: 35px;
    color: #333;
    padding: 10px; }
  footer .wpcf7-form textarea {
    resize: vertical;
    height: 100px !important;
    color: #333;
    padding: 10px; }
  footer .wpcf7-form input[type="submit"] {
    height: 35px;
    background-color: #2cc36b;
    border: none;
    border-radius: 3px;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: bold; }

#blog .blog .blog-title a, #blog .background-white .widget-title, #single-blog .single-blog .single-blog-title h1, #single-blog .background-white .widget-title, #about .background-white .widget-title, #single-portfolio div .background-white .page-title, #single-portfolio div .background-white .recent-posts-extended .widget-title {
  font-size: 20px;
  font-weight: bold;
  color: #333; }

#blog .blog .blog-title a::after, #blog .background-white .widget-title::after, #single-blog .single-blog .single-blog-title h1::after, #single-blog .background-white .widget-title::after, #about .background-white .widget-title::after, #single-portfolio div .background-white .page-title::after, #single-portfolio div .background-white .recent-posts-extended .widget-title::after {
  display: block;
  content: ' ';
  width: 300px;
  max-width: 100%;
  border-top: 2px solid #e8ce4d;
  margin-top: 8px;
  -webkit-animation: extend_title_animation 1s ease;
  animation: extend_title_animation 1s ease; }

#blog .blog, #blog .background-white, #single-blog .single-blog, #single-blog .background-white, #about .background-white, #single-portfolio div .background-white {
  margin: 10px 0px 20px 0px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 3px; }

#portfolio-list .list .portfolio, #portfolio .portfolio {
  padding: 10px; }
  #portfolio-list .list .portfolio .image a, #portfolio .portfolio .image a {
    text-decoration: none; }
    #portfolio-list .list .portfolio .image a img, #portfolio .portfolio .image a img {
      width: 100%;
      border: 5px solid #fff;
      box-shadow: 0 0 5px #000;
      height: auto !important; }
  #portfolio-list .list .portfolio .p_row, #portfolio .portfolio .p_row {
    margin-top: 10px; }
    #portfolio-list .list .portfolio .p_row .date, #portfolio .portfolio .p_row .date {
      padding: 5px;
      border: 1px solid #ddd;
      float: left; }
      #portfolio-list .list .portfolio .p_row .date span, #portfolio .portfolio .p_row .date span {
        display: block;
        padding: 0px 5px;
        font-size: 16px; }
    #portfolio-list .list .portfolio .p_row .post-title, #portfolio .portfolio .p_row .post-title {
      overflow: hidden;
      text-align: left; }
      #portfolio-list .list .portfolio .p_row .post-title a, #portfolio .portfolio .p_row .post-title a {
        text-decoration: none; }
        #portfolio-list .list .portfolio .p_row .post-title a p, #portfolio .portfolio .p_row .post-title a p {
          padding-left: 10px;
          font-family: 'Proximanova'; }
        #portfolio-list .list .portfolio .p_row .post-title a p:first-child, #portfolio .portfolio .p_row .post-title a p:first-child {
          color: #333;
          font-size: 16px; }
        #portfolio-list .list .portfolio .p_row .post-title a .author, #portfolio .portfolio .p_row .post-title a .author {
          font-size: 12px;
          font-weight: normal;
          color: #8899a6;
          border-top: 1px solid #8899a6;
          text-transform: none;
          padding-top: 5px; }

#blog h1, #contact-page h1, #about h1 {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase; }

#landing {
  background: url("../images/bg.jpg") no-repeat #0e2439 fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #landing .bg-opacity {
    background: rgba(15, 41, 61, 0.6); }
    #landing .bg-opacity #slogan {
      margin-top: 20px; }
      #landing .bg-opacity #slogan p {
        font-family: 'Proximanova';
        font-size: 50px;
        color: #fff;
        font-weight: bold; }

#intro-block {
  padding-top: 40px;
  padding-bottom: 20px; }
  #intro-block .vmms-intro-widget {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-family: 'Proximanova'; }
    #intro-block .vmms-intro-widget .widget-intro-icon span {
      padding: 10px;
      border: 4px solid #fff;
      border-radius: 100%;
      font-size: 25px; }
    #intro-block .vmms-intro-widget .widget-intro-title p {
      font-size: 20px;
      margin-top: 10px;
      font-weight: bold; }
    #intro-block .vmms-intro-widget .widget-intro-content p {
      font-size: 15px; }

#tech-logo {
  background: #fff;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #0D6182;
  box-shadow: 0 5px 34px rgba(0, 0, 0, 0.3); }
  #tech-logo .container a img {
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%); }
  #tech-logo .container a img:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none; }

#portfolio-list {
  margin-top: 40px; }
  #portfolio-list .glyphicon-chevron-left {
    left: -40px; }
  #portfolio-list .glyphicon-chevron-right {
    right: -40px; }
  #portfolio-list .glyphicon-chevron-left,
  #portfolio-list .glyphicon-chevron-right {
    display: inline-block;
    position: absolute;
    margin-top: 140px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 5px #000; }

#nf-portfolio-slider {
  overflow: hidden; }
  #nf-portfolio-slider .half {
    margin-top: 30px;
    width: 50%;
    float: left; }
    #nf-portfolio-slider .half .nf-image {
      padding-left: 20px; }
      #nf-portfolio-slider .half .nf-image .relative {
        width: 100%;
        max-width: 600px;
        float: right;
        position: relative;
        overflow: auto; }
        #nf-portfolio-slider .half .nf-image .relative .frame {
          position: relative;
          z-index: 2;
          max-width: 100%; }
        #nf-portfolio-slider .half .nf-image .relative #image-slider {
          z-index: 1;
          position: absolute;
          left: 13.5%;
          top: 8.5%;
          width: 73%;
          height: 77%; }
          #nf-portfolio-slider .half .nf-image .relative #image-slider .slide {
            position: absolute;
            width: 100%;
            height: 100%; }
            #nf-portfolio-slider .half .nf-image .relative #image-slider .slide img {
              width: 100%;
              height: 100%; }
    #nf-portfolio-slider .half #nf-text {
      list-style: none; }
      #nf-portfolio-slider .half #nf-text li {
        margin-bottom: 5px; }
        #nf-portfolio-slider .half #nf-text li div {
          padding: 10px 15px;
          color: #fff;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 4px;
          max-width: 550px; }
          #nf-portfolio-slider .half #nf-text li div span {
            color: #fff; }
          #nf-portfolio-slider .half #nf-text li div span:first-child {
            padding: 0px 30px !important; }

@media screen and (max-width: 767px) {
  body {
    padding-top: 34px !important; }
    body #nf-portfolio-slider {
      overflow: hidden; }
      body #nf-portfolio-slider .half {
        width: 100%; }
        body #nf-portfolio-slider .half .nf-image {
          padding: 0px 30px !important; }
        body #nf-portfolio-slider .half #nf-text {
          padding: 0px 30px !important; }
    body #portfolio-list .glyphicon {
      display: none !important; } }
#feedback {
  margin-bottom: 20px;
  margin-top: 40px; }
  #feedback .comment {
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: auto;
    width: 100%;}
    #feedback .comment .avatar img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      box-shadow: 0 0 5px #000;
      border: 3px solid #fff;}
    #feedback .comment .name p {
      font-size: 18px;
      font-family: 'Proximanova';
      text-transform: uppercase;
      margin-top: 20px;
      color: #ff6568; }
    #feedback .comment .comment-content {
      padding-top: 10px; }
      #feedback .comment .comment-content p {
        font-size: 18px;
        text-transform: none;
        color: #333;
        background: #fff;
        box-shadow: 0 0 5px #DFD1D1;
        padding: 40px 20px;
        border-radius: 10px;
        position: relative; }
      #feedback .comment .comment-content p:after {
        display: block;
        content: '';
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: -30px;
        left: calc(50% - 15px); }

#portfolio {
  margin-top: 20px;
  margin-bottom: 20px; }
  #portfolio .title {
    text-align: center;
    /*color: $blue; */
    /*@extend %extend-title1::after;*/ }
    #portfolio .title h1 {
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase; }

#blog {
  margin-top: 20px;
  margin-bottom: 20px; }
  #blog .title h1 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center; }
  #blog .blog {
    overflow: auto; }
    #blog .blog .blog-image {
      padding: 10px 0; }
      #blog .blog .blog-image img {
        width: 90%;
        height: auto !important; }
    #blog .blog .blog-title a {
      text-decoration: none; }
      #blog .blog .blog-title a h2 {
        font-size: 18px;
        font-weight: bold;
        color: #333; }
      #blog .blog .blog-title a h2:hover {
        color: #23527c; }
    #blog .blog .blog-title .blog-info {
      /*@extend %extend-title;*/ }
      #blog .blog .blog-title .blog-info ul li span {
        color: #bdc3c7; }
    #blog .blog .blog-info {
      font-size: 12px;
      margin: 10px 0px 5px; }
      #blog .blog .blog-info ul {
        list-style: none;
        padding-left: 0px;
        display: inline-block; }
        #blog .blog .blog-info ul li {
          display: inline-block;
          margin-right: 5px; }
  #blog .background-white .rpwe-title a {
    color: #333; }

#single-blog {
  padding: 50px 0; }
  #single-blog .single-blog .single-blog-title h1 {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    color: #23527c; }
  #single-blog .single-blog .single-blog-content {
    margin-top: 20px; }
    #single-blog .single-blog .single-blog-content figure img,
    #single-blog .single-blog .single-blog-content p img {
      max-width: 100%; }
  #single-blog .single-blog h2,
  #single-blog .single-blog h3 {
    font-size: 18px; }
  #single-blog .single-blog p {
    font-size: 14px; }
  #single-blog .background-white .widget-title {
    color: #23527c; }

#contact-page {
  margin-top: 20px;
  margin-bottom: 20px; }
  #contact-page .contact-page {
    margin: 10px 0px 20px 0px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 3px; }
  #contact-page .company_address h2 {
    font-size: 1.5em; }
  #contact-page form p {
    margin-top: 0px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 14px;
    color: #6a6a6a; }
  #contact-page form .p-contact {
    font-family: dancing script;
    font-size: 36px;
    color: #64582c;
    line-height: 58px; }
  #contact-page form input[type="text"], #contact-page form input[type="email"], #contact-page form select {
    width: 100%;
    padding: 10px; }
  #contact-page form textarea {
    width: 100%; }
  #contact-page form input[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #154557;
    color: #fff;
    text-transform: uppercase; }
  #contact-page form input[type="submit"]:hover {
    background-color: #073648;
    text-decoration: underline; }
  #contact-page form .form-group textarea {
    min-height: 120px; }

#about {
  padding: 20px 0; }
  #about .about {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0px 20px 0px; }
  #about .background-white .widget-title {
    color: #23527c; }

@keyframes extend_title_animation {
  from {
    width: 0px; }
  to {
    width: 300px; } }
#single-portfolio {
  font-family: 'Proximanova';
  margin-top: 40px; }
  #single-portfolio div .background-white .page-title {
    margin-top: 10px; }
  #single-portfolio div .background-white .content p img {
    max-width: 100%; }
  #single-portfolio div .background-white .recent-posts-extended .widget-title {
    margin-top: 10px; }
  #single-portfolio div .background-white .recent-posts-extended #recent-work .rpwe-ul .rpwe-li .rpwe-title a {
    font-size: 16px; }

#portfolio .recent-posts-extended .widget-title {
  padding: 15px 0; }
#portfolio .recent-posts-extended #recent-work ul li .rpwe-title a {
  font-size: 14px; }
#portfolio .recent-posts-extended #recent-work ul li time {
  font-size: 12px; }

/*# sourceMappingURL=vmms.css.map */
